.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(24, 24, 24);
}
.dark{
  background-color: rgb(24, 24, 24);
  color: white;
}
.btn{
  background-color: rgb(24, 24, 24);
  border: none;
}
.btn:hover{
  box-shadow: 0 0 5px 5px #ffffff;
  background-color: rgb(24, 24, 24);
}
.highlight:hover{
  background-color:rgb(71, 70, 70) ;
  
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Loading Animation CSS */

bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(24, 24, 24);
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.high{
  border-bottom: 2px solid red;
  box-shadow: 0px 2px 0px 0px rgb(162, 12, 12);
}